<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <!-- NOTE: These values are overridden at runtime by HibernateUtil from db.properties -->
        <!-- Edit db.properties (in src/main/resources) to set your actual credentials -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cms_db?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;createDatabaseIfNotExist=true&amp;nullCatalogMeansCurrent=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">SET_IN_DB_PROPERTIES</property>

        <!-- HikariCP Connection Pool -->
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>

        <!-- Hibernate properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping classes will be added here -->
        <mapping class="com.cms.model.User"/>
        <mapping class="com.cms.model.LoginSession"/>
        <mapping class="com.cms.model.ChatSession"/>
        <mapping class="com.cms.model.ChatMessage"/>
        <mapping class="com.cms.model.AIAnalysisResult"/>
        <mapping class="com.cms.model.ArrestRecord"/>
        <mapping class="com.cms.model.AuditLog"/>
        <mapping class="com.cms.model.CaseFile"/>
        <mapping class="com.cms.model.CourtCase"/>
        <mapping class="com.cms.model.CourtHearing"/>
        <mapping class="com.cms.model.Court"/>
        <mapping class="com.cms.model.CrimeIncident"/>
        <mapping class="com.cms.model.CrimeType"/>
        <mapping class="com.cms.model.WarrantType"/>
        <mapping class="com.cms.model.HearingType"/>
        <mapping class="com.cms.model.RoleEntity"/>
        <mapping class="com.cms.model.Permission"/>
        <mapping class="com.cms.model.MediaFile"/>
        <mapping class="com.cms.model.Evidence"/>
        <mapping class="com.cms.model.RelatedCase"/>
        <mapping class="com.cms.model.ModusOperandi"/>
        <mapping class="com.cms.model.MedicalRecord"/>
        <mapping class="com.cms.model.Person"/>
        <mapping class="com.cms.model.Warrant"/>
        <mapping class="com.cms.model.Notification"/>
        <mapping class="com.cms.model.Appeal"/>
        <mapping class="com.cms.model.CaseNote"/>
        <mapping class="com.cms.model.CourtCaseEvidence"/>
        <!-- Weak Entities (ERD Specialisation 2: Disjoint, Partial) -->
        <mapping class="com.cms.model.CaseSuspect"/>
        <mapping class="com.cms.model.CaseVictim"/>
        <mapping class="com.cms.model.CaseWitness"/>
        <!-- ERD Specialisation 1: Overlapping, Partial -->
        <mapping class="com.cms.model.Civilian"/>
        <!-- Geographic Entities -->
        <mapping class="com.cms.model.geo.Country"/>
        <mapping class="com.cms.model.geo.Province"/>
        <mapping class="com.cms.model.geo.District"/>
        <mapping class="com.cms.model.geo.City"/>
        <mapping class="com.cms.model.geo.Area"/>
    </session-factory>
</hibernate-configuration>
